.center-custom {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -50px;
    height: 45px;
}


.text-center-image{
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}


.profile-main {
    background: #fff;
    margin: 2em auto;
    padding: 0em 0em;
    border-radius: 4px;
}

.container-upload {
    position: relative;
}

.middle-upload {
    transition: .1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container-upload:hover .image-upload {
    opacity: 0.3;
}

.container-upload:hover .middle-upload {
    opacity: 1;
}

.text-upload {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
